p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
    margin-block: 0;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
    --light-color: #fff;
}

.team {
    /* position: relative; */
}

.team-wrapper {
    min-height: 678px;
    min-width: 100%;
    background:
        linear-gradient(90deg, #000000BF 0%, #0000004D 56%),
        url(../img/bg-team.webp) center center / cover no-repeat;

    @media screen and (max-width: 1024px) {
        margin-top: 100px;
    }

    @media screen and (max-width: 767px) {
        min-height: 360px;
    }
}

.elems-container {
    margin: 0 140px;

    h2 {
        padding-top: 180px;
        font-size: 48px;
        font-weight: 100;
        line-height: 1.25em;
        color: var(--light-color);
        text-transform: capitalize;

        span {
            font-weight: 700;
        }
    }

    @media screen and (max-width: 1260px) {
        margin: 0 10px;
    }

    @media screen and (max-width: 767px) {
        h2 {
            padding-top: 40px;
        }
    }


}

.team-text {
    width: 756px;
    display: block;
    padding-top: 30px;
    line-height: 2em;
    font-size: 19px;
    color: var(--light-color);
    font-weight: 200;

    @media screen and (max-width: 767px) {
        width: 100%;
        line-height: normal
    }
}

.team-btns-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;

    @media screen and (max-width: 767px) {
        padding-bottom: 30px;
    }
}

.team_btn {
    display: inline-block;
    text-transform: uppercase;
    color: var(--light-color);
    font-size: 19px;
    font-weight: 700;
}

.hex-wrapper {
    position: relative;
    margin-top: 200px;

    @media screen and (max-width: 1024px) {
        display: none;
    }

}

.hex-elem-top {
    top: -170px;
    left: 20px;
}

.hex-elem-bottom {
    bottom: 20px;
    right: 40px;
}

.team-mini-hex {
    position: absolute;
    display: block;
    padding: 12px;
    background: var(--light-color);
    clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%, 100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%, 77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%, 70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%, 22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, .60307% 53.4202%, .15192% 51.73648%, 0% 50%, .15192% 48.26352%, .60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%, 25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%, 73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
}

.team-mini-hex img {
    clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%, 100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%, 77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%, 70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%, 22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, .60307% 53.4202%, .15192% 51.73648%, 0% 50%, .15192% 48.26352%, .60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%, 25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%, 73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
    width: 310px;
    height: 310px;
    background-size: cover;
}

/* .new__div {
    display: block;
    height: 900px;
} */